# General Ignores

## hidden folders & junk files
.*
.*/
.DS_Store
.thumbs.db

## Log files
logs/
*.log*

## Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.lnk
*.iml

## Dependencies
node_modules/
vendor/

## lock files
*.lock
pnpm-lock.yaml
package-lock.json

## Compiled files
dist/
lib/
bin/

## secrets
.npmrc


## Keep
!.husky
!.gitignore
!.changeset/
!.eslintignore
!.eslintrc.json
!.depcheckrc
!.editorconfig
